<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- this is our beans -->
	<bean class="com.springcore.springcore.Student" name="student1">
		<property name="studentId">
			<value>22344</value>
		</property>
		<property name="studentName">
			<value>Shruti</value>
		</property>

		<property name="studentAddress">
			<value>
				Delhi
			</value>
		</property>

	</bean>

	<!-- using value as an attribute instead of a tag	 -->
	<bean class="com.springcore.springcore.Student" name="student2">
		<property name="studentId" value="22345" />
		<property name="studentName" value="Aarti" />
		<property name="studentAddress" value="Pune" />

	</bean>

	<!-- using p schema -->
	<!-- p meaning property -->
	<bean class="com.springcore.springcore.Student" name="student3"
		p:studentId="22346" p:studentName="Abhay" p:studentAddress="Pune" />

</beans>